<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <form action="/chats" method="post">
        <input type="text" name="from" placeholder="who are you" id="">
        <br><br>
        <textarea name="msg" id=""></textarea>
        <br><br>
        <input type="text" name="to" id="" placeholder="Recieved from" >
        <br><br>
        <button>Submit</button>
    </form>
</body>
</html>