.body{
    margin:30px;
}

.chat{
    background-color: #c13d60;
    color: azure;
    border-radius: 20px;
    padding: 10px;
    width: 40%;
    margin: 30px;
    
}
.msg{
    background-color: #3fb7ff;
    padding: 20px;
    border-radius: 10px;
}
#btn{
    width: 25%;
    height: 30px;
    color: aliceblue;
    background-color: black;
    border-radius: 10px;
}
#btn1{
    width: 25%;
    height: 30px;
    color: aliceblue;
    background-color: black;
    border-radius: 10px;
}
#btn2{
    margin-left: 80px;
    width: 25%;
    height: 30px;
    color: aliceblue;
    background-color: black;
    border-radius: 10px;
}
#time{
    color: aqua;
}
#date{
    color: darkblue;
}
#from{
    color: rgb(236, 8, 220);
}
#to{
    color: rgb(224, 10, 210);
}
.h1{
    margin: auto 100px;
    margin-bottom: 20px;
    text-decoration: underline wavy;
}
.edit{
    background-color: #4993ae;
    width: 50%;
    border-radius: 10px;
    margin: auto 100px;
}
#id{
    color: #e5e505;
}